doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatabile', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block head
        //- Stylesheets get inserted here
        link(rel='stylesheet' href='public/css/dummy.css')

    title Http2 Test

  body
    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Texth1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text

    h1 This is a test for Http2
    h2 Dummy Text


    block content
        //- Content gets inserted here
        script(src='public/js/dummy.js')
        script(src='public/js/dummy.js')
    block footer
        //- Scripts get inserted here